<div class="card mb-5 border" *ngIf="cityWeather$ |async as cityWeather" routerLink="{{cityWeather.name}}">
  <div class="card-body">

    <div class="d-flex">
      <h4 class="flex-grow-1 text-muted" >{{cityWeather.name}}, {{cityWeather.sys.country}}</h4>
      <h6 class="text-muted">{{time|date:'short'}}</h6>
    </div>

    <div class="d-flex flex-column text-center mt-5 mb-4">
      <h6 class="display-4 mb-0 font-weight-bold">
          {{cityWeather.main.feels_like | number: NUMBER_FORMAT}}°C
      </h6>
      <span class="small text-muted">{{cityWeather.weather[0].description}}</span>
    </div>

    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <div>
          <span class="ms-1"> Wind: {{cityWeather.wind.speed}} km/h </span>
        </div>
        <div>
          <span class="ms-1"> Humidity: {{cityWeather.main.humidity}}% </span>
        </div>
      </div>
      <div>
        <img *ngIf="iconUrl$ | async as iconUrl" src={{iconUrl}}> 
      </div>
    </div>

  </div>

  
</div>

