<div class="container mt-5" *ngIf="city">

  <div class="card p-3 mb-5">
    <div class="card-body">
      <h5 class="card-title display-5">{{city.city.name}}</h5>
      <h5 class="card-subtitle mb-2 display-6 text-muted">5 Day Forecast</h5>
      <a class="card-link btn btn-outline-secondary" routerLink="../">← City List</a>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-xs-12 col-lg-2 text-center " *ngFor="let city of cityList" (click)="onShowCityHourly(city.dt_txt)">
        <div class="card  mb-3 weatherCard">
          <div class="card-body">
            <h5 class="card-title">{{city.dt_txt | date:'EEE'}}</h5>
            <img src="{{openWeatherIconUrl}}{{city.weather[0].icon}}@2x.png">
            <p class="card-text">{{city.main.temp_max | number: NUMBER_FORMAT}}° <span class="text-muted">{{city.main.temp_min
                |
                number: NUMBER_FORMAT}}° </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>