<div class="container mt-5 " *ngIf="city">

  <h3 class="display-6">{{city.city.name}}</h3>

  <div class="row justify-content-center mt-3">
    <h5>{{city.name}}</h5>
    <div class="col-xs-12 col-lg-2 text-center" *ngFor="let c of cityList">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h5 class="card-title">{{c.dt_txt | date:'EEE'}}</h5>
          <img src="http://openweathermap.org/img/wn/{{c.weather[0].icon}}@2x.png">
          <p class="card-text">{{c.main.temp_max | number: '1.0-0'}}° <span class="text-muted">{{c.main.temp_min |
              number: '1.0-0'}}° </span></p>
        </div>
      </div>
    </div>
  </div>
</div>