<form [formGroup]="addCityForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="col-xl-7 col-md-12">
      <div class="input-group mb-3">
        <span class="input-group-text">{{cityNumber}}/10</span>
        <input type="text" class="form-control form-control-lg" formControlName="cityName"
          placeholder="Zagreb, London..." autocomplete="street-address">
        <button type="submit" class="btn btn-primary" [disabled]="!addCityForm.valid">Add City</button>
      </div>
    </div>
  </div>

</form>